
.header ul {
    overflow: hidden;
}
.header ul a .active {
    color: #333;
}
.header ul a {
    display: block;
    padding: 20px;
    letter-spacing: .2rem;
    color: #fff;
    font-weight: 600;
}


.social {
    display: inline-block;
}
.header ul a:hover {
    color: #333;
    transition: all 0.6s ease-in;
}

.header .logo {
    float: left;
    display: block;
    font-size: 2.1rem;
    font-weight: 600;
    padding: 20px 0 20px 10px;
}
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .4s ease-in-out;
}
.header .menu-icon {
    padding: 43px 10px 0 0;
    position: relative;
    top: 0;
    float: right;
    cursor: pointer;

}
.header .menu-icon .nav-icon {
    background: #fff;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: background .4s ease-out;
}
.header .menu-icon .nav-icon::before {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    transition: all .4s ease-out;
}
.header .menu-icon .nav-icon::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 10px;
    transition: all .2s ease-out;
}
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width:780px) {
    .header {
        display: none;
    }
}
