/* Bio */
#bio-body {
     max-width: 75%;
}
.bio-text {
    font-family: 'Quattrocento', serif;
    font-size: 1.1rem;
    margin: auto;
    padding: 0 4%;
}
.bio-text::first-letter {
    font-size: 1.8rem;
}
.bio-thanks {
    text-align: center;
    font-size: 1rem;
    max-width: 35%;
}
#bio-body {
    height: 95vh;
}